sources:
  /home/ec2-user: https://s3-us-west-1.amazonaws.com/codius-host-deps/libseccomp-2.1.1.tar.gz
container_commands:
  01-configure:
    command: ./configure --prefix=/usr
    cwd: /home/ec2-user/libseccomp-2.1.1
    env:
      PATH: /usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin
  02-make:
    command: make
    cwd: /home/ec2-user/libseccomp-2.1.1
    env:
      PATH: /usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin
  03-make-install:
    command: make install
    cwd: /home/ec2-user/libseccomp-2.1.1
    env:
      PATH: /usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin
