Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
container_commands:
  01-download-s3curl:
    command: curl -o /usr/local/bin/s3curl.pl https://s3-us-west-1.amazonaws.com/codius-host-ssl-cert/s3curl.pl
  02-make-s3curl-executable:
    command: chmod +x /usr/local/bin/s3curl.pl
  03-download-cert:
    command: s3curl.pl --id=${AWS_ACCESS_KEY_ID} --key=${AWS_SECRET_KEY} -- -o /tmp/deployment/application/server.crt https://s3-us-west-1.amazonaws.com/codius-host-ssl-cert/star.codius.host.crt
  04-download-key:
    command: s3curl.pl --id=${AWS_ACCESS_KEY_ID} --key=${AWS_SECRET_KEY} -- -o /tmp/deployment/application/server.key https://s3-us-west-1.amazonaws.com/codius-host-ssl-cert/star.codius.host.key
  05-download-ca-certs:
    command: s3curl.pl --id=${AWS_ACCESS_KEY_ID} --key=${AWS_SECRET_KEY} -- -o /tmp/deployment/application/ca.crt https://s3-us-west-1.amazonaws.com/codius-host-ssl-cert/geotrust.ca.crt
